In [25]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import getpass  # To get the password without showing the input

In [26]:
password = getpass.getpass()
connection_string = 'mysql+pymysql://root:' + password + '@localhost/sakila'
engine = create_engine(connection_string)
%load_ext sql
%sql {connection_string}

 路路路路

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: root@sakila'

1. Create a query or queries to extract the information you think may be relevant for building the prediction model. It should include some film features and some rental features.

2. Read the data into a Pandas dataframe.

In [51]:
%%sql
select i.film_id, avg(p.amount) avg_rental_cost,
case when timestampdiff(hour, r.rental_date, r.return_date) regexp '^[0-9]+$'
then avg(timestampdiff(hour, r.rental_date, r.return_date))
else 0
end as avg_hours_rented, count(ifnull(r.rental_id, 0)) num_rent
from rental r
join payment p on p.rental_id = r.rental_id
join inventory i on i.inventory_id = r.inventory_id
group by film_id
limit 6;

 * mysql+pymysql://root:***@localhost/sakila
6 rows affected.

[(1, Decimal('1.598696'), Decimal('119.4545'), 23),
 (2, Decimal('7.561429'), Decimal('135.1667'), 7),
 (3, Decimal('3.156667'), Decimal('82.7500'), 12),
 (4, Decimal('3.990000'), Decimal('113.6364'), 23),
 (5, Decimal('4.323333'), Decimal('170.0000'), 12),
 (6, Decimal('6.037619'), Decimal('140.6667'), 21)]

In [52]:
%%sql
select
  f.film_id,
  f.title,
  f.description,
  fc.category_id,
  f.language_id,
  avg(f.rental_duration) * 24 avg_hours_rental_allowed,
  f.length / 60 hours_length,
  avg(f.replacement_cost) avg_replacement_cost,
  f.rating,
  f.special_features,
  count(fa.actor_id) actors_in_film
from film f
join film_category fc on fc.film_id = f.film_id
join film_actor fa on fa.film_id = f.film_id
group by f.film_id
limit 6;

 * mysql+pymysql://root:***@localhost/sakila
6 rows affected.

[(1, 'ACADEMY DINOSAUR', 'A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies', 6, 1, Decimal('144.0000'), Decimal('1.4333'), Decimal('20.990000'), 'PG', 'Deleted Scenes,Behind the Scenes', 10),
 (2, 'ACE GOLDFINGER', 'A Astounding Epistle of a Database Administrator And a Explorer who must Find a Car in Ancient China', 11, 1, Decimal('72.0000'), Decimal('0.8000'), Decimal('12.990000'), 'G', 'Trailers,Deleted Scenes', 4),
 (3, 'ADAPTATION HOLES', 'A Astounding Reflection of a Lumberjack And a Car who must Sink a Lumberjack in A Baloon Factory', 6, 1, Decimal('168.0000'), Decimal('0.8333'), Decimal('18.990000'), 'NC-17', 'Trailers,Deleted Scenes', 5),
 (4, 'AFFAIR PREJUDICE', 'A Fanciful Documentary of a Frisbee And a Lumberjack who must Chase a Monkey in A Shark Tank', 11, 1, Decimal('120.0000'), Decimal('1.9500'), Decimal('26.990000'), 'G', 'Commentaries,Behind the Scenes', 5),
 (5, 'AFRICAN EGG', 'A Fast-Paced Documentary of a Pastry Chef And a Dentist who must Pursue a Forensic Psychologist in The Gulf of Mexico', 8, 1, Decimal('144.0000'), Decimal('2.1667'), Decimal('22.990000'), 'G', 'Deleted Scenes', 5),
 (6, 'AGENT TRUMAN', 'A Intrepid Panorama of a Robot And a Boy who must Escape a Sumo Wrestler in Ancient China', 9, 1, Decimal('72.0000'), Decimal('2.8167'), Decimal('17.990000'), 'PG', 'Deleted Scenes', 7)]

In [53]:
%%sql
select
  act2.film_id,
  group_concat(act2.actor_id separator ',') actor_list,
  sum(act2.actor_fame) total_actor_fame,
  sum(act2.actor_influence) total_actor_influence
from (
  select fa.film_id, act1.*
    from (
      select
        fa1.actor_id,
        count(distinct(fa1.film_id)) actor_fame,
        count(distinct(fa2.actor_id)) actor_influence
        from
          film_actor fa1
          join film_actor fa2 on fa2.film_id = fa1.film_id
          group by fa1.actor_id
    ) act1
    join film_actor fa on fa.actor_id = act1.actor_id
) act2
group by act2.film_id
limit 6;

 * mysql+pymysql://root:***@localhost/sakila
6 rows affected.

[(1, '1,10,20,30,40,53,108,162,188,198', Decimal('278'), Decimal('1108')),
 (2, '19,85,90,160', Decimal('109'), Decimal('398')),
 (3, '2,19,24,64,123', Decimal('136'), Decimal('541')),
 (4, '41,81,88,147,162', Decimal('141'), Decimal('543')),
 (5, '51,59,103,181,200', Decimal('141'), Decimal('492')),
 (6, '21,23,62,108,137,169,197', Decimal('216'), Decimal('798'))]

In [30]:
db_url = f'mysql+pymysql://root:{password}@localhost/sakila'

In [31]:
query_1 = '''
select i.film_id, avg(p.amount) avg_rental_cost,
case when timestampdiff(hour, r.rental_date, r.return_date) regexp '^[0-9]+$'
then avg(timestampdiff(hour, r.rental_date, r.return_date))
else 0
end as avg_hours_rented, count(ifnull(r.rental_id, 0)) num_rent
from rental r
join payment p on p.rental_id = r.rental_id
join inventory i on i.inventory_id = r.inventory_id
group by film_id;
'''
query_2 = '''
select
  f.film_id,
  f.title,
  f.description,
  fc.category_id,
  f.language_id,
  avg(f.rental_duration) * 24 avg_hours_rental_allowed,
  f.length / 60 hours_length,
  avg(f.replacement_cost) avg_replacement_cost,
  f.rating,
  f.special_features,
  count(fa.actor_id) actors_in_film
from film f
join film_category fc on fc.film_id = f.film_id
join film_actor fa on fa.film_id = f.film_id
group by f.film_id;
'''

query_3 = '''
select
  act2.film_id,
  group_concat(act2.actor_id separator ',') actor_list,
  sum(act2.actor_fame) total_actor_fame,
  sum(act2.actor_influence) total_actor_influence
from (
  select fa.film_id, act1.*
    from (
      select
        fa1.actor_id,
        count(distinct(fa1.film_id)) actor_fame,
        count(distinct(fa2.actor_id)) actor_influence
        from
          film_actor fa1
          join film_actor fa2 on fa2.film_id = fa1.film_id
          group by fa1.actor_id
    ) act1
    join film_actor fa on fa.actor_id = act1.actor_id
) act2
group by act2.film_id;
'''

In [32]:
data_1 = pd.read_sql(query_1, db_url)

In [33]:
data_2 = pd.read_sql(query_2, db_url)

In [34]:
data_3 = pd.read_sql(query_3, db_url)

In [35]:
print(data_1.shape)
print(data_2.shape)
print(data_3.shape)

(958, 4)
(997, 11)
(997, 4)

In [36]:
print('film_id' in data_1.columns)
print('film_id' in data_2.columns)
print('film_id' in data_3.columns)

True
True
True

In [37]:
data = data_1.merge(data_2, on='film_id', how='inner').merge(data_3, on='film_id', how='inner')

In [38]:
data.shape

(955, 17)

3. Analyze extracted features and transform them. You may need to encode some categorical variables, or scale numerical variables.

4. Create a query to get the list of films and a boolean indicating if it was rented last month. This would be our target variable.
5. Create a logistic regression model to predict this variable from the cleaned data.
6. Evaluate the results.

In [39]:
X = data[['avg_rental_cost', 'avg_hours_rented', 'category_id', 'hours_length', 'actors_in_film', 'total_actor_fame']]

In [40]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

In [41]:
scaled_x = StandardScaler().fit_transform(X)

In [50]:
%%sql
select rental_id, film_id, rental_date, rank() over (partition by film_id order by rental_date desc) recent
from film left join inventory using (film_id) left join rental using (inventory_id)
order by film_id
-- where rental_date > '2006-03-01'
limit 6;

 * mysql+pymysql://root:***@localhost/sakila
6 rows affected.

[(16050, 1, datetime.datetime(2022, 10, 19, 17, 31, 41), 1),
 (15453, 1, datetime.datetime(2005, 8, 23, 1, 1, 1), 2),
 (15421, 1, datetime.datetime(2005, 8, 22, 23, 56, 37), 3),
 (14798, 1, datetime.datetime(2005, 8, 22, 0, 44, 8), 4),
 (14714, 1, datetime.datetime(2005, 8, 21, 21, 27, 43), 5),
 (14624, 1, datetime.datetime(2005, 8, 21, 18, 32, 42), 6)]

In [46]:
target_query = '''
select rental_id, film_id, rental_date, rank() over (partition by film_id order by rental_date desc) recent
from film left join inventory using (film_id) left join rental using (inventory_id)
where rental_date > '2006-03-01'
'''
target = pd.read_sql(target_query, db_url)

In [47]:
target['rental_id']

0    16050
Name: rental_id, dtype: int64

In [48]:
y = target['rental_id'].isna()

## Create a logistic regression model to predict this variable from the cleaned data.
classification = LogisticRegression(random_state=0, solver='lbfgs',
                        multi_class='ovr').fit(scaled_x, y)

## Evaluate the results.
classification.score(scaled_x, y)

from sklearn.metrics import confusion_matrix
y_pred = classification.predict(scaled_x)
confusion_matrix(y_pred, y)
```

SyntaxError: invalid syntax (Temp/ipykernel_26976/1724012329.py, line 13)

In [49]:
### :pencil2: Practice on key concepts - Lab

> :clock10: 30 min

<details>
  <summary> Click for Instructions: Lab </summary>

- Link to the lab: [https://github.com/ironhack-labs/lab-predictions-logistic-regression](https://github.com/ironhack-labs/lab-predictions-logistic-regression)

</details>

<details>
  <summary> Click for Solution: Lab solutions </summary>

- Link to the [lab solution](https://gist.github.com/ironhack-edu/c3e7fba417de11bcf152ba6329acbbb4).

</details>

---

SyntaxError: invalid syntax (Temp/ipykernel_26976/2218186131.py, line 3)